<!-- Footer | Bas de page -->
    <footer id="footer">
        <div class="inner">
            <section class="contact-info modifcol">
                <h4 class="major">Tobook</h4>
                <ul class="contact">
                    <li class="linopad"><a href="pourquoi.php">À propos</a></li>
                    <li class="linopad"><a href="conditions.php">Conditions générales</a></li>
                    <li class="linopad"><a href="mentions.php">Mentions légales</a></li>
                    <li class="linopad"><a href="#">Plan du site</a></li>
                    <li class="linopad"><a href="#">Protection des données</a></li>
                    <li class="linopad"><a href="#">Politique relative aux cookies</a></li>
                </ul>
            </section>
            <section class="contact-info modifcol">
                <h4 class="major">Mon compte</h4>
                <ul class="contact">
                    <li class="linopad"><a href="config.php">Mes informations personnelles</a></li>
                    <li class="linopad"><a href="#">Mes commentaires</a></li>
                    <li class="linopad"><a href="liste.php?code=2">Mes destinations préférées</a></li>
                    <li class="linopad"><a href="#">Mes alertes</a></li>
                    <li class="linopad"><a href="#">Mes réservations</a></li>
                    <li class="linopad">&nbsp;</li>
                </ul>
            </section>
            <section class="contact-info">
                <h4 class="major">Contactez-nous</h4>
                <ul class="contact">
                    <li class="fa-phone">(33) 2 54 80 27 00</li>
                    <li class="fa-envelope"><a href="/contact.php">contact@tobook.club</a></li>
                    <li class="fa-facebook"><a href="https://www.facebook.com/Roomservyou-454428541427992/?fref=nf" target="_blank">facebook.com/tobook.club</a></li>
                    <li class="linopad">&nbsp;</li>
                    <li class="linopad">&nbsp;</li>
                    <li class="linopad">&nbsp;</li>
                </ul>
                <ul class="contact">
                    <li class="fa-home">
                        <b>Siège social</b>
                        <br/>8, boulevard de Trémault
                        <br/>41 000 Vendôme
                        <br/>FRANCE
                    </li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            <p>Conception graphique : <a id="lienfooter" href="http://maitre-christele.fr/" target="_blank">maitre-christele.fr</a> - Intégration : <a href="http://www.wildcodeschool.fr" target="_blank"><img alt="Logo WCS" src="{{ asset('img/logo_wcs.png') }}"/> Wild Code School</a> - Copyright &copy; 2016 - <a href="/index.php">Tobook.club</a> - Tous droits réservés.</p>
        </div>
    </footer>